body {
  background-color: #efefef;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 7px;
}
.btn{
  cursor: pointer;
  -webkit-touch-callout: none; 
  -webkit-user-select: none;  
  -khtml-user-select: none;  
  -moz-user-select: none;   
  -ms-user-select: none;  
  user-select: none;    
}
#sorular-no,
#secenekler,
#profil,
#controller {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#profil {
  height: 95px;
  overflow: hidden;
  margin-bottom: 15px;
}

#sorular-no {
  background-color: #f5f5f5;
  padding: 3px;
  border-top: 1px solid #fafafa;
  font-family: 'Playfair Display', serif;
}

#sorular-no li {
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin-left: 4px;
  font-weight: bolder;
  font-size: 17px;
  font-weight: 900;
  color: #ccc;
}

#sorular-no span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 8px auto;
}

#sorular-no .yesil{
  background-color: #5E95F9;
}
#sorular-no .kirmizi{
  background-color: #FB5252;
}
#sorular-no .sari{
  background-color: #FBF652;
}

#profil .icerik {
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

#profil .resim {
  float: left;
}

.soru {
  position: relative;
  clear: both;
  color: #eee;
  background-image: url('images/arka.jpg');
  height: 50px;
  background-position: center;
  background-size: cover;
  text-align: left;
  display: table;
  width: 100%;
}

.soru span {
  display: table-cell;
  vertical-align: middle;
  padding: 20px 20px;
}

.soru ul{
  margin: 0 15px;
  padding: 0;
}
.sayac{
  position: absolute;
  top: 0;
  background-color: #ccc;
  right: 0;
  color: #333;
  padding: 1px 5px;
}
#secenekler{
  margin-top: 15px;
}
#secenekler li {
  padding: 10px 10px;
  border-radius: 2px;
  margin-bottom: 8px;
  background-color: #fff; 
}

#secenekler .secenek {
  font-weight: 500;
  padding-right: 8px;
  margin-right: 5px;
  border-right: 1px solid #333;
}

#secenekler .dogru {
  background: none;
  background-color: #5E95F9;
  color: #fff;
}

#secenekler .yanlis {
  background: none;
  background-color: #FB5252;
  color: #fff;
}

#secenekler .dogru .secenek ,
#secenekler .yanlis .secenek {
  border-right: 1px solid #fff;
}

#controller {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
}

#controller li {
  float: left;
  display: block;
  text-align: center;
  line-height: 45px;
  height: 45px;
}

#controller .onceki {
  width: 40%;
}

#controller .favori {
  width: 20%;
}

#controller .sonraki {
  width: 40%;
}