body {
  background-color: #efefef;
  font-family: 'Roboto', sans-serif;
}

#sorular-no,
#secenekler,
#profil,
#controller {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#profil {
  height: 95px;
  overflow: hidden;
  margin-bottom: 15px;
}

#sorular-no {
  background-color: #eee;
  padding: 3px;
  border-top: 1px solid #fafafa;
  font-family: 'Playfair Display', serif;
}

#sorular-no li {
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin-left: 4px;
  font-weight: bolder;
  font-size: 17px;
  font-weight: 900;
  color: #bbb;
}

#sorular-no .yesil {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 8px auto;
  background-color: #5E95F9;
}

#sorular-no .kirmizi {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 8px auto;
  background-color: #FB5252;
}

#profil .icerik {
  height: 60px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #dbdbdb;
}

#profil .resim {
  float: left;
}

#soru {
  clear: both;
  color: #eee;
  background-image: url('arka.jpg');
  height: 120px;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: table;
  width: 100%;
  margin-bottom: 15px;
}

#soru span {
  display: table-cell;
  vertical-align: middle;
  padding: 20px 10px;
}

#secenekler li {
  width: 300px;
  padding: 10px 10px;
  border-radius: 2px;
  margin-bottom: 8px;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(245, 245, 245, 1)), color-stop(50%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(240, 240, 240, 1)));
}

#secenekler span {
  font-weight: 500;
  padding-right: 8px;
  margin-right: 5px;
  border-right: 1px solid #333;
}

#secenekler .dogru {
  background: none;
  background-color: #5E95F9;
  color: #fff;
}

#secenekler .yanlis {
  background: none;
  background-color: #FB5252;
  color: #fff;
}

#secenekler .dogru span,
#secenekler .yanlis span {
  border-right: 1px solid #fff;
}

#controller {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
}

#controller li {
  float: left;
  display: block;
  text-align: center;
  line-height: 45px;
  height: 45px;
}

#controller .onceki {
  width: 40%;
}

#controller .favori {
  width: 20%;
}

#controller .sonraki {
  width: 40%;
}