<style>
    .chat-form .btn-cont{
        margin-right: 0;
    }
</style>
<table  class="task-content table table-striped table-bordered table-advance">
    <tr style="vertical-align: top;">
        <td style="width:20%">
        <table class="task-content table table-striped table-bordered table-advance table-hover ">
                            <thead>
                                <tr>
                                    <th>
                                        <i class="fa fa-briefcase"></i> Sektörler
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="sector in sectorList ">
                                    <td class="item-wrapper">
                                        <a ui-sref="demopool.id({id:sector.id})">{{ sector.name}} ({{ sector.count}})
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

        </td>
        <td>
           <div id="ekle" class="row search-form-default" style="width: 100%;margin: 0;">
                                                    
                                                <div class="chat-form" style="margin:0;">
                                                    <div class="input-cont">
                                                        <input class="form-control" 
                                                            type="text" 
                                                            id="yenigorev"
                                                            ng-model    = "demopool.newLink"
                                                            placeholder =  "Link Ekle..." >
                                                    </div>
                                                    <div class="btn-cont"
                                                        id       ="btngorev"
                                                        ng-click = "saveDemo()">
                                                        <span class="arrow">
                                                        </span>
                                                        <a href="" class="btn blue icn-only">
                                                        <i class="fa fa-check icon-white"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                          </div>
                                          <div class="portlet-body">
                                          <table class="task-content table table-bordered table-advance table-hover">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 3%;">
                                                        </th>
                                                        <th>
                                                            <i class="fa fa-briefcase"></i> Demo Linki
                                                        </th>
                                                        <th style="width: 12%;">
                                                            <i class="fa fa-calendar"></i> Tarih
                                                        </th>
                                                        <th class="hidden-xs" style="width: 17%;">
                                                            <i class="fa fa-user"></i> Ekleyen
                                                        </th>
                                                        <th class="hidden-xs" style="width: 70px;">
                                                            <i class="fa fa-user"></i> İşlem
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="demo in demoList | orderBy: ['-priority', '-id']">
                                                        <td style="width: 50px;padding-right: 0;padding-left: 1px;padding-top: 11px;">
                                                            <i data-cls = "fa-star{{demo.priority == '1' ? '' : '-o' }}"
                                                                class   = "fa fa-star{{demo.priority == '1' ? '' : '-o' }} star"
                                                                ng-click = "update( demo, 'priority' ); "
                                                                style="margin: 0 auto;"
                                                            ></i>
                                                        </td>
                                                        <td class="item-wrapper">
                                                            <a target="_blank" 
                                                              href="{{demo.link}}" 
                                                              ng-bind = "demo.link">
                                                            </a>
                                                        </td>
                                                        <td>{{demo.date}}</td>
                                                        <td class="hidden-xs personmission">
                                                            {{demo.name}}
                                                        </td>
                                                        <td class="hidden-xs personmission">
                                                          <a class="btn default btn-xs red-stripe" 
                                                             ng-click = "delete(demo.id)">
                                                            Sil</a>
                                                        </td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
</div> 
        </td>
    </tr>
</table>
<script>
  jQuery(function($){
    
    setTimeout(function(){

      $("#yenigorev").unbind('keypress');
      $("#ekle").on('keypress', '#yenigorev', function(e) {
        if(e.keyCode==13){
          $("#btngorev").click();
        }
      });

      
    }, 0);
    
  });
</script>