
<div class="profile" id="personal">
				<div class="row profile-account">
					<div class="col-md-12">
					<br>
						<div class="col-md-12">

							<div class="margiv-top-20">
								<a class="btn green" ng-click="$back()">
									&lt; Geri Dön </a>
								
								
								<a 
									style = " float: right; margin-right: 2px; "
									class = "btn red" 
									ng-click = "onayla(edit, 'onayli', '1', '0')">
									<i class="fa fa-envelope"></i> Şifreyi Mail Gönder </a>

								<a 
									style 		= " float: right; margin-right: 2px; "
									class 		= "btn red" 
									ng-click 	= "onayla(edit, 'onayli', '0', '1')">

									<i class = "fa fa-unlock"></i> Şifreyi Resetle </a>

								<div style 	 = "float: right;padding: 8px 20px;margin: 0 5px;" 
									class 	 = "alert alert-{{durumClass2}}">
					                {{pwdDurum2}}
					            </div>
							</div>
						</div>
						<div style="clear: both"></div>
						<br>
						<form role="form" action="#">
							<div class="col-md-12">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Firma Adı</label>
										<input type = "text"
										placeholder = "Firma Adı"
										ng-model 	= "edit.company"
										class 		= "form-control"/>
									</div>
									
									<div class="form-group">
										<label class 	="control-label">Sektör</label>
										<select class 	= "form-control"
											ng-model 	="edit.sector_id"
											ng-options 	="sectoralt.id as sectoralt.name for sectoralt in sectorList">
											<option value="" selected="selected">Seçiniz:</option>
										</select>
									</div>
									<div class="form-group">
										<label class="control-label">Adres</label>
										<textarea class="form-control"
											rows 		= "3"
											ng-model 	= "edit.address"
											placeholder = "Adres"></textarea>
									</div>
									<div class="form-group">
										<label class 	="control-label">E-Mail Adresi</label>
										<input type 	= "text"
											placeholder = "E-Mail Adresi"
											ng-model 	= "edit.email"
											class 		= "form-control"/>
									</div>
									<div class="form-group">
										<label class="control-label">Telefon No</label>
										<input type = "text"
											ui-mask 	= "9 (999) 999 99 99"
											placeholder = "_ (___) ___ __ __"
											ng-model 	= "edit.phone"
											class 		= "form-control"/>
									</div>
									<div class="form-group">
										<label class= "control-label">Vergi No</label>
										<input type = "text"
										class 		= "form-control" rows="3"
										ng-model 	= "edit.tax_no"
										placeholder = "Vergi No"></textarea>
									</div>
									<div class="margiv-top-10">
										<a class="btn green" ng-click="update.customer(edit)">
										Güncelle </a>
										<a href="#" class="btn default">
										İptal </a>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class 	= "control-label">Müşteri Tipi</label>
										<select class 	= "form-control"
											ng-model 	="edit.type_id"
											ng-options 	="typealt.id as typealt.name for typealt in typeList">
											<option value="" selected="selected">Seçiniz:</option>
										</select>
									</div>
									<div class="form-group">
										<label class 	="control-label">Yetkili Kişi</label>
										<input type 	= "text"
											placeholder = "Yetkili Kişi"
											ng-model 	= "edit.name"
											class 		= "form-control"/>
									</div>
									
									<div class="form-group">
										<label class="control-label">Bilgi</label>
										<textarea class="form-control"
											rows 		= "3"
											ng-model 	= "edit.info"
											placeholder = "Bilgi"></textarea>
									</div>
									<div class="form-group">
										<label class 	="control-label">Website</label>
										<input type 	= "text"
											placeholder = "Website"
											ng-model 	= "edit.web"
											class 		= "form-control"/>
									</div>
									<div class="form-group">
										<label class = "control-label">Cep Telefon</label>
										<input type  = "text"
										ui-mask 	 = "9 (999) 999 99 99"
										ng-model 	 = "edit.mobile"
										placeholder  = "_ (___) ___ __ __" class="form-control"/>
									</div>
									
									<div class="form-group">
										<label class= "control-label">Vergi Dairesi</label>
										<input type = "text"
										ng-model 	= "edit.tax_office"
										placeholder = "Vergi Dairesi"
										class 		= "form-control"/>
									</div>
									
									<br>
									<div class="form-group">
										<div class="alert alert-{{durumClass}}">
					                        {{Durum}}
					                    </div>
									</div>
								</div>
							</form>
								<div style="clear: both;"></div>

<br>
							
		</div>
</div>
</div>