<div class="row">
    <div class="col-md-12">
        <div class="tabbable tabbable-custom tabbable-custom-profile">
            <ul class="nav nav-tabs">
                
                <li class="active">
                    <a href="#tab_1_42" data-toggle="tab">
                        Müşteri Tipleri
                    </a>
                </li>

            </ul>
            <div class="tab-content">
                
                <div class="tab-pane active" id="tab_1_42">
                            <div class="col-md-6">

                                <div class="portlet-body profile">
                                    <div style="clear: both"></div>
                                    <br>

                                    <table class="task-content table table-striped table-bordered table-advance table-hover">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <i class="fa fa-briefcase"></i> Müşteri Türü
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="type in typeList ">
                                                <td class="item-wrapper">
                                                    <a  editable-text="type.name"
														onbeforesave="updatetype(type.id, $data)">
														{{ type.name}}
													</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Yeni Müşteri Türü</label>
                                    <input type="text"
                                           placeholder="Yeni Müşteri Türü"
                                           ng-model="newtype.name"
                                           class="form-control" />
                                </div>
                                <div class="margiv-top-10">
                                    <a class="btn green" ng-click="save.type()">
                                        Kaydet
                                    </a>
                                    <a href="#" class="btn default">
                                        İptal
                                    </a>
                                </div>
                                <br>
                                <div class="form-group">
                                    <div class="alert alert-{{durumClass}}">
                                        {{Durum}}
                                    </div>
                                </div>
                            </div>
                        <div style="clear: both"></div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {  // burası ile başka bir zamanda yine ilgilenilebilir.
        $(".tabbable a").click(function (e) {
            e.preventDefault();
        });
    }, 100);
</script>