<div class="profile" id="project">
			<div class="tabbable tabbable-custom tabbable-custom-profile">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#tab_1_11" data-toggle="tab">
						{{state_id==0? "Devam Eden Projeler" : "Tamamlanan Projeler"}}</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab_1_11">
						<div class="row search-form-default">
							<div class="col-md-12">
								<form action="#">
									<div class="input-group">
										<div class="input-cont">
											<input type="text" placeholder="Proje Ara..." 
													ng-model = "searchProject" 
													class="form-control">
										</div>
										<span class="input-group-btn">
											<button type="button" class="btn green-haze">
												Ara &nbsp; <i class="m-icon-swapright m-icon-white"></i>
											</button>
										</span>
									</div>
								</form>
							</div>
						</div>
						
						<div class="portlet-body">
							<table class="table table-striped table-bordered table-advance table-hover">
								<thead>
									<tr>
										<th>
											
										</th>
										<th>
											<i class="fa fa-briefcase"></i> Proje Adı
										</th>
										<th class="hidden-xs">
											<i class="fa fa-user"></i> Proje Sorumlusu
										</th>
										<th>
										</th>
									</tr>
								</thead>
								<tbody ui-sortable="sortableOptions" ng-model="projectList">
									<tr ng-repeat="project in projectList | filter: searchProject" data-id="{{::project.id}}">
										<th style="width: 26px;">
											<i class = "fa fa-star active{{project.priority}} star"
											ng-click = "priority_project( project ); "
											></i>
										</th>
										<td class="no-sort">
											<a ui-sref="main.project.tabs({id:project.id, state_id: state_id})">
												{{::project.name}}
											</a>
										</td>
										<td class="no-sort hidden-xs">
											<a ui-sref="main.personal.id({id:project.person_id})">
												{{::project.person}}
											</a>
										</td>
										<td class="no-sort">
											<a class="btn default btn-xs green-stripe" 
												ng-click="duzenle()"
												ui-sref="project.id.tabs({id:project.id})">
											düzenle </a>
											<a class="btn default btn-xs blue-stripe" 
												ng-click="complete(project.id)"
												ng-bind="project.state == 0 ? 'kapat' : 'aç'">
											</a>
										</td>
									</tr>
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>