 <div id="profil">
    <div class="resim">
      <img height="95px" src="images/nobody_m.original.jpg" alt="" />
    </div>
    <div class="icerik"></div>
    <ul id="sorular-no" >
      <li class="btn" data-ng-repeat="cevap in cevaplar track by $index" ng-click="git($index)" >
        {{cevap.sonuc ? "" : "?"}}
        <span
          ng-class="{
            yesil: cevap.sonuc=='dogru', 
            kirmizi: cevap.sonuc=='yanlis',
            sari: cevap.sonuc=='beklemede'
            }"></span>
      </li>
    </ul>
  </div>
  <div class="soru">
    <div class="sayac">{{sayac + 1}}/10</div>
    <span ng-bind-html="soru.madde"></span>
  </div>

  <ul id="secenekler">
    <li class = "btn a" 
      ng-click = "btnIsaretle($event, 'a')"><span class="secenek">A</span> <span ng-bind-html="soru.a"></span> </li>
    <li class = "btn b" 
      ng-click = "btnIsaretle($event, 'b')"><span class="secenek">B</span> <span ng-bind-html="soru.b"></span> </li>
    <li class = "btn c" 
      ng-click = "btnIsaretle($event, 'c')"><span class="secenek">C</span> <span ng-bind-html="soru.c"></span> </li>
    <li class = "btn d" 
      ng-click = "btnIsaretle($event, 'd')"><span class="secenek">D</span> <span ng-bind-html="soru.d"></span> </li>
    <li class = "btn e" 
      ng-click = "btnIsaretle($event, 'e')"><span class="secenek">E</span> <span ng-bind-html="soru.e"></span> </li>
  </ul>

  <ul id="controller">
    <li class="btn onceki" ng-click="geri()">Önceki</li>
    <li class="favori">
      <img height="40px" src="images/1131464.gif" alt="" />
    </li>
    <li class="btn sonraki" ng-click="ileri()">Sonraki</li>
  </ul>